html {
    overflow-x: hidden;
    font-family: Verdana, Geneva, sans-serif;
}

input, button {
    outline-width: 0;
}

#navBar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

#barMask{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    right: 100vw;
    background: rgba(154, 18, 179, 0.5)
}

#frontPage{
    width: 100vw;
    height: 100vh;
    background-image:  url('bgImage/Intro.jpg');
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
}

#loginBtn{
    width: 80px;
    height: 40px;
    border: none;
    z-index: 3;
    position: absolute;
    top: calc((10vh - 40px)/2);
    right: 125px;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: 900;
}

#signupBtn{
    width: 80px;
    height: 40px;
    border: 0;
    z-index: 3;
    right: 30px;
    top: calc((10vh - 40px)/2);
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: 900;
}

#loginBtn:hover, #searchBar div:hover, #signupBtn:hover, #btmSignupBtn:hover{
    background: rgba(154, 18, 179, 0.5);
    transition-delay: 0.07s;
    cursor:pointer;
}

#searchBar input{
    padding: 10px;
    position: absolute;
    background: rgba(255,255,255,1);
    height: 2vh;
    width: 40vw;
    left: 30vw;
    top: calc((10vh - 2vh - 20px)/2);
    border-color: purple;
    border-radius: 20px;
    display: none;
    z-index: 3;
    font-size: 20pt;
}

#searchBar img{
    width: 30px;
    height: 30px;
    z-index: 3;
}

#searchBar div{
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc((10vh - 30px)/2);
    right: 17vw;
    z-index: 3;
}

.centerTitle{
    text-align: center;
    position: relative;
    top: 40vh;
}

#title{
    text-align: center;
    font-size: 72pt;
    display: inline-block;
}

#briefIntro{
    text-align: center;
    font-size: 24pt;
    position: relative;
    top: 55vh;
}

#movingDot{
    width: 80px;
    height: 40px;
    z-index: 1;
    border-radius: 10px;
    position: absolute;
    right: 30vw;
    top: 300px;
    background-color: purple;
    animation:anim 5s infinite;
}

@keyframes anim{
    0%{left:80vw; top:35vh;}
    25%{left:20vw; top:35vh;}
    50%{left:20vw; top:55vh;}
    75%{left:80vw; top:55vh;}
    100%{left:80vw; top:35vh;}
}

#introduction{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
    text-align: center;
    font-size: 18pt;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(122, 50, 239, 0.405) 0%, rgba(140, 66, 234, 0.511502) 30.52%, rgba(130, 87, 252, 0.555412) 66.43%, rgba(137, 143, 191, 0.75) 101.42%);
    background-blend-mode: darken;
}

#introduction div{
    width: 95%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 20vh;
    z-index: 1;
    font-weight: bold;
    line-height: 50px;
    font-family: Verdana, Geneva, sans-serif;
}

#features{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 200vh;
    left: 0px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(122, 50, 239, 0.405) 0%, rgba(161, 58, 241, 0.5475) 30.52%, rgba(190, 74, 245, 0.4875) 62.86%, rgba(112, 0, 255, 0.1275) 101.42%);
    background-blend-mode: darken;

}

#FeatureTitle{
    width: 100vw;
    height: 10vh;
    position: relative;
    text-align: center;
    top: 0;
    font-size: 36pt;
}

#featureDisplay {
    width: 60%;
    margin: 0 auto;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.feature{
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: white;
    z-index: 1;
    font-size: 24pt;
    overflow: hidden;
}
.feature::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.feature:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.feature-short {
    background: transparent;
    color: black;
}

.feature-long {
    display: none;
}


#feature1{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}
#feature1::after {
    background-image: url('bgImage/FuturePlanning.jpg');
}


#feature2{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}
#feature2::after {
    background-image: url('bgImage/StandingTop.jpg');
}

#feature3{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}
#feature3::after {
    background-image: url('bgImage/DecisionMaking.jpg');
}

#feature4{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
}
#feature4::after {
    background-image: url('bgImage/StartDoing.jpg');
}

#conclusion{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 300vh;
    left: 0px;
    overflow-x: hidden;
    background: radial-gradient(101.71% 42.33% at 50% 59.08%,
        rgba(122, 50, 239, 0.405) 0%,
        rgba(161, 58, 241, 0.3825) 33.85%,
        rgba(190, 74, 245, 0.24) 63.02%,
        rgba(112, 0, 255, 0.14) 100%);
    background-blend-mode: darken;
}
/*
#footer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 300vh;
    left: 0px;
} */

#conclusion div{
    position: relative;
    width: 70vw;
    top: 15vh;
    margin: 0 auto;
    text-align: center;
    line-height: 75px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25pt;
    font-weight: bold;
}

#btmSignupBtn{
    position: relative;
    left: 40vw;
    top: 30vh;
    width: 20vw;
    height: 80px;
    background: rgba(0,0,0,0);
    border-color: black;
    font-size: 20pt;
}

#loginSignup {
    display: none;
}
