.LiSuBtn{
    border-color: black;
    background-color: white;
    border-width: 1px;
    position: absolute;
    width: 20vw;
    height: 10vh;
    font-size: 20pt;
}


#loginSignup{
    position: fixed;
    width: 40vw;
    height: 70vh;
    top: 15vh;
    left: 30vw;
    background-color: white;
    border-radius: 20px;
    opacity: 0;
    z-index: 3;
}

#changeToLogIn{
    left: 0vw;
}

#changeToSignUp{
    left: 20vw;
}



.LiSuIp{
    padding-left: 10px;
    width: 20vw;
    height: 6vh;
    font-size: 20pt;
    border-color: black;
    border-width: 1.5px;
}

#usernameIp{
}

#uNameP{
    font-size: 15pt;
    margin: 10px;
}

#passwordIp{
}

#pWordP{
    font-size: 15pt;
    margin: 10px;
}

#conPwordP{
    font-size: 15pt;
    margin: 10px;
}

#confirmIp{
}

#submitBtn{
    width:15vw;
    height: 7vh;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-size: 18pt;
}

#changeToLogIn:hover, #changeToSignUp:hover, #submitBtn:hover{
    background-color: rgba(154, 18, 179, 1);
    cursor: pointer;
}

#LiSuFlex {
    position:relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 10vh);
    align-items: center;
}
