html {
  overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

}

/* search bar upper right */
.search-bar {
  position:absolute;
  top: 1.7vh;
  width: 65vw;
  margin-top: 1.5vh;
  display: flex;
  left: 75vw;
}
.searchTerm {
  width: 30%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 10px;
  height: 5vh;
  border-radius: 16px 0 0 16px;
  font-size: 13px;
  outline: none;
  color: #9DBFAF;
}
.searchButton {
  width: 35px;
  height: 5vh;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 20px;
}
.body{
  margin: 0;
}
.top{
  position: absolute;
  top: 1.5vh;
  background: rgba(40,46,63,0.9);
}

#user-icon{
  position:absolute;
  left:1.5vw;
  padding: 1vw;
  top:1.7vh;
  border: 0.13vw solid black;
  border-radius: 50%;
  background-color: white;
}
#user-icon:hover{
  position: absolute;
  cursor:pointer;
}
.nav-bar{
  background-color: rgba(55,55,120,1);
  position: absolute;
  height: 11vh;
  width: 100%;
  border-bottom: 1px solid black;
  top: 0;
}

.progress{
  margin: 0 auto;
  margin-top: 10vh;
  width: 65vw;
  left: 60vw;
  right: 0;
  height: 10vh;
  border-radius: 15px 15px 15px 15px;
  height: 7vh;
  border: 2px solid silver;
}

.bar-list{
  margin-top: 5vh;
  margin-left: 10vw;
  left: 10vw;
}

#task-list{
  position: absolute;
  margin-top: 5vh;
  height: 100%;
  width: 100%;
}
.rightColumn{
  position: absolute;
  left:25vw;
  top:11vh;
  width:80vw;
  height:89vh;
}

.leftColumn{
  position:absolute;
  top:11vh;
  width:20vw;
  height:89vh;
  border-right: 1px solid black;
  background-color: rgba(55,55,120,0.7);
  text-align: center;
}
#plus-sign{
  font-weight: bold;
}

/* five progresses */
#one{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 0, 0 ,1) !important;
}

#two{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 0, 1) !important;
}
#three{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 255, 0, 1) !important;
}
#four{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 0, 255, 1) !important;
}
#five{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 155, 0, 1) !important;
}
.progress-bar:hover{
  opacity: 0.7;
}
.progress-content{
  font-family: 'Asap', sans-serif;
  color: black;
}
ul{
  text-align: center;
  border-bottom: 1px;
}
.ls-item{
  margin-top: 2vh;
  text-align: center;
}
#plus-task{
  width: 100%;
  text-align: center;
}
#goals{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tasks{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-task{
  display: inline-block;
  margin-top: 5vh;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  filter: invert(70%) sepia(79%) saturate(421%) hue-rotate(59deg) brightness(108%) contrast(94%);
}


#plus-item{
  margin-top: 5vh;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: pink;
  font-size: 20px;
  border-radius: 50%;
  border: solid 1px black;
  outline: none;
  background-color: rgba(255, 0, 0, 1);
}
#plus-item:hover{
  background-color: rgba(255, 0, 0, 0.6);
}

#add-task:hover{
  background-color: rgba(0, 0, 0, 0.6);
}


/* These are for the added items */
.plus-bar-left{
  /* position:absolute; */
  padding-left: 5px;
  left: 5vw;
  font-family: 'Asap', sans-serif;
  margin-top: 7vh;
  width : 65%;
  border: none;
  border-bottom: 1px solid black;
  background: inherit;
  outline-width: 0;
  color: white;
  font-size: 20px;
}

.plus-bar-right{
  font-family: 'Asap', sans-serif;
  margin-top: 5vh;
  width : 65%;
  border: none;
  border-bottom: 1px solid silver;
  outline-width: 0;
  text-align: center;
}

.plus-button-left{
  position: absolute;
  margin-top: 7vh;
  border-radius: 50%;
  left: 0.4vw;
  width: 2.5vw;
  height: 2.5vw;
  outline: none;
  background-color: rgba(223, 122, 12, 1);
}

.plus-button-right{
  font-weight: bold;
  position: absolute;
  border-radius: 50%;
  left: 13vw;
  top: 138px;
  width: 2.5vw;
  height: 2.5vw;
  outline: none;
  background: white;
  border: 0.6px solid black;
}
.plus-button-right:hover{
  opacity: 0.5;
}

.number-box{
  position: absolute;
  margin: auto auto;
  font-weight: bold;
  border-radius: 50%;
  font-size: 15px;
  left: 0.4vw;
  width: 2vw;
  height: 2vw;
  outline: none;
  border: 1px solid black;
  background-color: rgba(223, 122, 12, 1);
}
