html {
  overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

}

/* search bar upper right */
.search-bar {
  position:absolute;
  top: 1.7vh;
  width: 65vw;
  margin-top: 1.5vh;
  display: flex;
  left: 75vw;
}
.searchTerm {
  width: 30%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 10px;
  height: 5vh;
  border-radius: 16px 0 0 16px;
  font-size: 13px;
  outline: none;
  color: #9DBFAF;
}
.searchButton {
  width: 35px;
  height: 5vh;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 20px;
}
.body{
  margin: 0;
}
.top{
  position: absolute;
  top: 1.5vh;
  background: rgba(40,46,63,0.9);
}

#user-icon{
  position:absolute;
  left:1.5vw;
  padding: 1vw;
  top:1.7vh;
  border: 0.13vw solid black;
  border-radius: 50%;
  background-color: white;
}
#user-icon:hover{
  position: absolute;
  cursor:pointer;
}

#userMenu{
    height:0vh;
    width: 0vw;
    background-color: white;
    padding-top: 10px;
    line-height: 4vh;
    position: absolute;
    border-radius: 1vh;
    left: 4vw;
    top: 7vh;
    z-index: 1;
    overflow: hidden;
}

.aMenu{
    position: absolute;
    left:1vw;
    text-align: left;
    font-size: 1.1vw;
}

#am1{top: 0.5vh;}
#am2{top: 5vh;}
#am3{top: 9.5vh;}
#am4{top: 14vh;}

.nav-bar{
  background: linear-gradient(180deg, #040032 0%, rgba(15, 0, 104, 0.7) 100%);
  position: absolute;
  height: 11vh;
  width: 100%;
  border-bottom: 1px solid black;
  top: 0;
}

.progress{
  margin: 0 auto;
  margin-top: 10vh;
  width: 65vw;
  left: 60vw;
  right: 0;
  height: 10vh;
  border-radius: 15px 15px 15px 15px;
  height: 7vh;
  border: 2px solid silver;
}

.bar-list{
  margin-top: 5vh;
  margin-left: 10vw;
  left: 10vw;
}

#task-list{
  position: absolute;
  margin-top: 5vh;
  height: 100%;
  width: 100%;
}
.rightColumn{
  position: absolute;
  left:25vw;
  top:11vh;
  width:80vw;
  height:89vh;
}

.leftColumn{
  position:absolute;
  top:11vh;
  width:20vw;
  height:89vh;
  border-right: 1px solid black;
  background: radial-gradient(255.62% 50% at 50% 50%, rgba(47, 0, 148, 0.43) 0%, rgba(15, 0, 104, 0.53) 100%);
}

/* five progresses */
#one{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 0, 0 ,1) !important;
}

#two{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 0, 1) !important;
}
#three{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 255, 0, 1) !important;
}
#four{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 0, 255, 1) !important;
}
#five{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 155, 0, 1) !important;
}
.progress-bar:hover{
  opacity: 0.7;
}
.progress-content{
  font-family: 'Asap', sans-serif;
  color: black;
}
ul{
  text-align: center;
  border-bottom: 1px;
}
.ls-item{
  margin-top: 2vh;
  text-align: center;
}
#plus-task{
  width: 100%;
  text-align: center;
}
#goals{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tasks{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-task{
  display: inline-block;
  margin-top: 5vh;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: none;
 filter: invert(10%) sepia(87%) saturate(6609%) hue-rotate(349deg) brightness(127%) contrast(137%);
}


#plus-item{
  margin-top: 5vh;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: pink;
  font-size: 20px;
  border-radius: 50%;
  border: solid 1px black;
  outline: none;
  background-color: rgba(255, 0, 0, 1);
}
#plus-item:hover{
  background-color: rgba(255, 0, 0, 0.6);
}

#add-task:hover{
  background-color: rgba(0, 0, 0, 0.6);
}


/* These are for the added items */
.plus-bar-left{
  font-family: 'Asap', sans-serif;
  margin-top: 3vh;
  width : 50%;
  border: none;
  border-bottom: 1px solid silver;
  outline-width: 0;
}

.plus-bar-right{
  font-family: 'Asap', sans-serif;
  margin-top: 5vh;
  width : 65%;
  border: none;
  border-bottom: 1px solid silver;
  outline-width: 0;
  text-align: center;
}

.plus-button-left{
  position: absolute;
  margin-top: 3vh;
  border-radius: 50%;
  left: 1.5vw;
  width: 10%;
  outline: none;
  background-color: rgba(255, 0, 0, 1);
}

.plus-button-right{
  position: absolute;
  margin-top: 2vh;
  border-radius: 50%;
  left: 8vw;
  width: 3vw;
  height: 3vw;
  outline: none;
  background: rgba(255, 0, 0, 1);
}

/* bar-design */
.empty-bar{

}
