html {
  overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* search bar upper right */.search-bar {
  position: absolute;
  top: 1.7vh;
  width: 65vw;
  margin-top: 1.5vh;
  display: flex;
  left: 75vw;
}

.searchTerm {
  width: 30%;
  border: 3px solid inherit;
  border-right: none;
  padding: 10px;
  height: 5vh;
  border-radius: 16px 0 0 16px;
  font-size: 13px;
  outline: none;
  color: #9DBFAF;
}
.searchButton {
  width: 35px;
  height: 5vh;
  border: 1px solid inherit;
  background: linear-gradient(351.84deg, #0085FF 10.18%, rgba(6, 47, 170, 0.658744) 62.24%, rgba(80, 51, 255, 0.76) 92.42%);
  text-align: center;
  color: #fff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover{
  opacity: 0.8;
}

#user-icon:hover{
  position: absolute;
  opacity: 0.9;
  cursor:pointer;
}

.body{
  margin: 0;
}
.top{
  position: absolute;
  top: 1.5vh;
  background: rgba(40,46,63,0.9);
}

#user-icon{
  position:absolute;
  left:1.5vw;
  padding: 1vw;
  top:1.7vh;
  border: 0.13vw solid black;
  border-radius: 50%;
  background-color: white;
}

#user-icon:hover{
  position: absolute;
  cursor:pointer;
}

#userMenu{
    height:0vh;
    width: 0vw;
    background: rgba(198, 231, 245, 0.95);
    padding-top: 10px;
    line-height: 4vh;
    position: absolute;
    border-radius: 1vw;
    left: 4vw;
    top: 7vh;
    z-index: 1;
    overflow: hidden;
    font-family: "Asap",sans-serif;
}

.aMenu{
    position: absolute;
    color: black;
    left:1vw;
    text-align: left;
    font-size: 1.1vw;
    font-family: "Asap",sans-serif;
}

#am1{top: 0.5vh;}
#am2{top: 5vh;}
#am3{top: 9.5vh;}
#am4{top: 14vh;}

.nav-bar{
  background: linear-gradient(351.84deg, #0085FF 10.18%, rgba(6, 47, 170, 0.658744) 62.24%, rgba(80, 51, 255, 0.76) 92.42%);
  position: absolute;
  height: 11vh;
  width: 100%;
  border-bottom: 1px solid black;
  top: 0;
}

.rightColumn{
  position: absolute;
  left:25vw;
  top:11vh;
  width:80vw;
  height:89vh;
}

.leftColumn{
  position:absolute;
  top: 11vh;
  width:20vw;
  height:89vh;
  border-right: 1px solid black;
  background: linear-gradient(295.36deg, rgba(0, 148, 255, 0.63) 37.23%, rgba(6, 47, 170, 0.47) 68.87%, rgba(92, 51, 255, 0.75) 99.11%);
}

#ResultTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0vw;
    width: 20vw;
    height: 9vh;
    top: 0vw;
    background: rgba(255,255,255,0.3);
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: "Asap", sans-serif;
}

.divTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0vw;
    width: 20vw;
    height: 10vh;
    top: 0vw;
    background: rgba(0,0,0,0);
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.divTitle:hover{
    color: white;
    cursor: pointer;
}

.mainContents{
    position: absolute;
    left:20vw;
    top: 11vh;
    width: 80vw;
    height: 89vh;
    background: rgba(230, 230, 230, 1);
    text-align: center;
    color: #3079ed;
}

.mainTask{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    left: 15vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    z-index = 1;
    animation-name: angry-animation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

#pMainContents{
    opacity: 0.6;
    font-size: 36pt;
    color:black;
}

#left{
    position: absolute;
    background-image: url('bgImage/left.svg');
    border-color: black;
    top: 84vh;
    left: 1vw;
    width: 2vw;
    height: 2vw;
}

#right{
    position: absolute;
    background-image: url('bgImage/right.svg');
    border-color: black;
    top: 84vh;
    left: 17vw;
    width: 2vw;
    height: 2vw;
}

#pageNum{
    position: absolute;
    background: rgba(0,0,0,0);
    bottom: 2.33vh;
    left: 9.5vw;
    width: 3vw;
    height: 2vw;
    font-size: 18pt;
}

#CopyBtn{
    position: absolute;
    width: 16vw;
    height: 8vh;
    left: 32vw;
    top: 80vh;
    background: rgba(0,0,0,0);
    border-color: blue;
    font-size: 2.5vh;
    font-weight: bold;
    color: blue;
    border-width: 1px;
}

#CopyBtn:hover{
    background-color: blue;
    color : white;
    cursor:pointer;
}

@keyframes angry-animation {
  0%{
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60%{
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}
